// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$ourblue: #386B8A;
$ourgray: #63615F;
$darkgray:#4C4C4C;
$ourgreen: #DDE995;
$pink: #FFF2CD;
$otherpink: #FEF8F1;
$ourlightgreen: #F1F6D2;
