// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$ourblue: #386b8a;
$ourgray: #63615f;
$darkgray: #4c4c4c;
$ourgreen: #dde995;
$pink: #fff2cd;
$otherpink: #fef8f1;
$ourlightgreen: #f1f6d2;
$btnform: #dabeeb;
$pinkforcard: #ffeedc;
$lightblue: #e9f4ff;
$ligthyellow: #fbefff;
$colortext: #0b4a72;
