// Specific CSS for your home-page
h2 {
  margin: 0;
  color: $ourblue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: lighter;
  font-family: Copernicus, serif;
}

h1 {
  margin: 0;
  color: $ourblue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: lighter;
  font-family: Copernicus, serif !important;
}
h3 {
  font-family: Copernicus, serif !important;
}

.testimonial {
  margin: 0;
  color: $ourblue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-weight: lighter;
  font-family: Copernicus, serif;
  text-align: center;
}
body {
  background-color: white;
  font-family: Copernicus !important;
  overflow-x: hidden;
}

.busqueda {
  background-color: $otherpink;
  width: 100%;
  padding-bottom: 50px;
}
.text-subtitle {
  font-size: 23px;
  font-family: Copernicus, serif;
}

.text-title,
.text-follow,
.text-subtitle {
  font-family: Copernicus;
  color: $colortext;
}
.img-size {
  max-width: 1300px;
}
.img-testimonial {
  border-radius: 100px;
}
.tex-testimonial {
  text-align: center;
}
.title-testimonial {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}
.decoration {
  text-decoration: none !important;
}
.testimonial-wrapper {
  padding-right: 100px;
  padding-left: 100px;
}
.text-conten {
  padding-right: 70px;
}

@media (max-width: 900px) {
  .text-subtitle {
    font-size: 20px;
  }
  .img-size {
    max-width: 100%;
  }
  .steps-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .text-title {
    font-size: 30px;
  }
  .title-testimonial {
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
  .testimonial-wrapper {
    display: flex;
    flex-direction: column !important;
  }
  .testimonial {
    font-size: 15px;
  }
  .img-testimonial {
    margin: 16px;
  }
  .testimonial-column {
    display: flex;
    flex-direction: column !important;
  }
  .tex-testimonial p {
    font-size: 14px;
  }
  .text-conten {
    max-width: 90%;
    padding-left: 50px;
    padding-top: 15px;
  }
}

.testimonial-section {
  max-width: 1800px;
  margin: auto;
}
