.comment-title {
  font-size: 25px;
}
.comment {
  font-size: 15px !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
