<div class="banner">
  <div class="container text-left">
    <h1>We Find Pets</h1>
    <p>¿Perdiste a tu mascota? Te ayudamos a encontrarla</p>
    <%= link_to "Empezar ahora", new_pet_path, class: "btn btn-gradient" %>
  </div>
</div>


<div class="container m-5">
  <%= simple_form_for :search, url: posts_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
  <% end %>
  <h2 class="mt-5 mb-5 mr-5">Mascotas Perdidas</h2>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?pet)">
      Dogs
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?dog&lost)">
      Pet
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?cat&lost)">
      Cats
    </div>
  </div>



  <h2 class="mt-5 mb-5 mr-5">Mascotas Encontradas</h2>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?pet)">
      Dogs
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?dog&lost)">
      Pet
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/800x600/?cat&lost)">
      Cats
    </div>
  </div>
</div>
