<div class="jumbotron">
  <h3 class="display-8"><%= info[:title] %></h3>
  <p class="lead"></p>
  <hr class="my-4">
  <%= link_to "#{info[:btn]}", info[:btn_path], class: "btn btn-primary" %>
</div>