<div class="container mt-4 mb-4">
  <div class="row">
    <div class="col-6 m-auto">
      <div class="post-form d-flex">
        <h1>Edita tu Publicación</h1>
        <%= link_to 'Delete', post_path(@post),
          method: :delete,
          class: 'btn btn-danger ml-3',
          data: { confirm: 'Estas seguro?' }
        %>
      </div>
      <div class="mt-3">
        <%= render "create_form" %>
      </div>
    </div>
  </div>
</div>
