
<div class="row">
  <div class="col-6">
      <div class="cards">
<% @posts.each do |post| %>
  <%= link_to post_path(post.id), class: "card-trip-wrapper" do %>
    <div class="card-trip">
      <% if !post.pet.photos.empty?  %>
        <%= cl_image_tag post.pet.photos.first.key, height: 150, width: 200, crop: :fill %>
      <% end %>
      <div class="card-trip-infos">
        <div >
          <h5><%= post.title %></h5>
          <p class="t-overflow"><%= post.description %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
</div>
</div>
