<% @posts.each do |post| %>
  <%= link_to  post_path(post), class: "card-trip-wrapper" do %>
    <div class="card-trip">
      <% if !post.pet.photos.empty?  %>
        <%= cl_image_tag post.pet.photos.first.key, height: 150, width: 200, crop: :fill %>
      <% end %>
      <div class="card-trip-infos">
        <div >
          <h2><%= post.title %></h2>
          <p class="card-trip-description"><%= post.description %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
