<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <h3 class="mb-3 text-center">Crea tu Publicación</h3>
    </div>
    <%= render "create_form", post: @post %>
  </div>
</div>
