.banner {
  padding: 100px 0;
  /*background-image: asset-url("m_merged.png");*/
  height: auto;
  background-color: $otherpink;
  /*background-size: contain;
  /*background-repeat: no-repeat, no-repeat;*/
  /*background-position: calc(100% - 200px) center;*/
}
.banner-title h1 {
  font-family: Copernicus, serif;
  font-size: 72px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: -2.5px;
  padding-bottom: 25px;
  max-width: 750px;
  font-family: Copernicus, serif;
}
.banner-title {
  max-width: 100%;
}
/*.banner h1 {
  margin: 0;
  color: $ourblue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 72px;
  font-weight: 300;
  letter-spacing: -2.5px;
  line-height: 80px;
  width: 100%;
  padding-bottom: 25px;
  font-family: Copernicus;
}*/

.banner-title p {
  font-size: 26px;
  color: $ourgray;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-family: Copernicus;
}
