.btn-gradient {
  color: $ourgray;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $ourgreen;
  a {
    color: $ourgray;
  }
}

.btn-light-gradient {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $ourgreen;
  border-color: transparent;
}

.btn-light-gradient:hover {
  background: $otherpink;
  color: $ourblue;
}

.btn-gradient:hover {
  background: $ourlightgreen;
  color: gray;
}

#filterbtn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
