.btn-gradient {
  color: $ourgray;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $ourlightgreen;
  a {
    color: $ourgray;
  }
}

.btn-light-gradient {
  color: #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: $ourgreen;
  border-color: transparent;
}

.btn-light-gradient:hover {
  background: $otherpink;
  color: $colortext;
}

.btn-gradient:hover {
  background: $ourgreen;
  color: gray;
}

#filterbtn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.btn-gradient-banner {
  color: $colortext;
  padding: 9px 66px;
  border-radius: 30px;
  font-weight: bold !important;
  background: $ourlightgreen;
  font-family: Copernicus;
  a {
    color: $colortext;
  }
}
.btn-gradient-banner:hover {
  background: $ourgreen;
  color: $colortext;
}
.btn-banner {
  margin: 0;
}

@media (max-width: 900px) {
  .btn-gradient-banner {
    padding: 9px 50px;
    text-align: center;
  }
}
