.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.col-pets {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.t-overflow {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-trip-wrapper {
  text-decoration: none !important;
}

.card-trip {
  color: #000000;
}
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-notifications {
  position: absolute;
  right: 16px;
  top: 70px;
  width: 40px;
}

.card-trip-infos .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease 0.3s;
}

.card-trip-infos:hover .notification-actions {
  opacity: 1;
}

.card-trip-infos .notification-actions i {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
  text-decoration: none;
}

.card-trip-infos .notification-actions i:hover {
  color: #555555;
  text-decoration: none;
}

.card-trip-infos .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 10px;
  text-decoration: none;
}
.card-trip-infos .notification-actions a:hover {
  color: #555555;
  text-decoration: none;
}

.my-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 16px;
  @include media-breakpoint-down(sm) {
    grid-template-columns: 1fr;
  }
  @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: 1fr 1fr;
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-trip-infos a {
  font-size: 1.25rem;
  margin: 0;
  color: black;
}

.testimonial-card {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-position: center;
  width: 700px;
  padding-right: 40px;
  padding-left: 20px;
}
@media (max-width: 900px) {
  .testimonial-card {
    width: 640px;
    margin-bottom: 30px;
    margin-left: 35px;
    padding-left: 10px;
  }
}
.card-description {
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: $pinkforcard;
  h2 {
    font-size: 20px;
    color: white;
  }
}

.card-caracteristics {
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: $lightblue;
  padding: 20px;
  width: auto;
  p {
    font-size: 18px;
    color: black;
  }
}

.card-caracteristics-left {
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: $ligthyellow;
  padding: 20px;
  width: auto;
  p {
    font-size: 18px;
    color: black;
  }
}

.card-photo {
  img {
    object-fit: contain;
    width: 100%;
  }
}

.post-show-container {
  margin-top:10px;
}


.map-section {
  position:relative;
}

.address {
  position: absolute;
  background: black;
}

.post-title {
  text-transform: uppercase;
  font-weight: bold;
}

.card-post-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ourblue;
  border-radius: 5px 5px 0 0;
  padding: 10px 0;
}

.card-post-description {
  padding: 0 25px;
  margin-top: 25px;
}

.map-post-container {
  margin-left: -50px;
}

#map {
  width: 350px;
  height: 480px;
}
.post-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
}
.detail {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-left: 10px
  p {
    color: black;
  }
}
