.footer {
  background: $pink;
  height: auto;
  padding: 0px 50px;
  color: rgba(0, 0, 0, 0.3);
  align-items: center;
  font-family: Copernicus, serif;
  font-size: 20px;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  padding: 0px 10px;
  font-family: Copernicus, serif;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #d23333;
}
.footer-links {
  font-size: 25px;
  padding-top: 20px;
}

@media (max-width: 900px) {
  .footer {
    font-size: 16px;
  }
  .nav-link {
    font-size: 16px;
  }
  .footer-links {
    font-size: 25px;
    padding-top: 20px;
  }
}
