.container-registrations{
  display: flex;
  justify-content: center;
  min-width: 400px;
  max-width: 950px;
  margin: 0 auto;
}
.container-form{
  padding: 1rem 2rem;
  max-width: 400px;
}

.cont-img{
  background-image: asset-url('Animal_shelter_bro.svg');
background-repeat: no-repeat;
  
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-field{
  width: 100px;
  margin: 0 auto;
}
@include media-breakpoint-down(sm) { 
  .cont-img{
    display: none;
  }
  
}