.navbar-lewagon {
  justify-content: space-between;
  background: $pink;
  position: sticky;
  top: 0px;
  z-index: 50;
  background-color: #fef8f1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.nav-link {
  color: $colortext;
  font-family: Copernicus, serif;
  font-size: 20px;
}
.logo {
  padding-left: 20px;
}
.nav-item {
  width: 200px;
  font-size: 20px;
  text-align: center;
}

header.nav-fixed {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background-color: #fff;
  box-shadow: 5px -1px 12px -5px grey;
}
